<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin version="24.3.1" xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd" name="TE Tech - PowerScheduler Enhancements" description="Editable Course List in PowerScheduler">
  <publisher name="Benjamin Kemp">
    <contact email="kempb@tesd.net"/>
  </publisher>
</plugin>